<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<script>
    function updateTextInput(val) {
          document.getElementById('textInput').value=val;
        }
</script>
</script>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}" method = "post">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${searchType}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>
        </p>
        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" th:name="searchTerm" id="searchTerm" th:value="${searchTerm}"/>
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <!-- TODO #4 - Loop over the search results to display all job fields. -->
    <table class="job-listing">
        <tr th:each="job : ${jobs}">
            <td>
                <p><b>Id: </b><span class="italicText" th:style="'color: blue'" th:text="${job.id}"></span></p>
                <p><b>Name: </b><span class="italicText" th:style="'color: blue'" th:text="${job.name}"></span></p>
                <p><b>Employer: </b><span class="italicText" th:style="'color: blue'" th:text="${job.employer}"></span></p>
                <p><b>Location: </b><span class="italicText" th:style="'color: blue'" th:text="${job.location}"></span></p>
                <p><b>Position Type: </b><span class="italicText" th:style="'color: blue'" th:text="${job.positionType}"></span></p>
                <p><b>Core Competency: </b><span class="italicText" th:style="'color: blue'" th:text="${job.coreCompetency}"></span></p>
            </td>
        </tr>
    </table>
</div>
</body>
</html>